body {
    background-image: url("../libimg/backimg.jpeg"); 
   
   background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
  margin: 0px;
  } 
.form-control mr-sm-2{
  cursor:pointer;

}
.navbar a{
  color: ivory;
  border:1px solid rgb(226, 220, 220);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 3px;
  padding: 1.5px;

}
.navbar a:hover{
  background-color: rgb(167, 227, 245);
  transition: 0.5s ease-in;
  color: rgb(76, 30, 241);
}

footer{
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-size: 2rem;
   color: ivory;
   background-color: rgba(83, 7, 30, 0.185);
   margin: .1rem;
   padding: 0rem;
 /* position: inherit; */
 

}
/* .containerb.h2{
 text-align: center;
}  */
.col-md-4.img{
 font-family: 'Courier New', Courier, monospace;
 color: brown;
 background-color: coral;
 background-size: cover;
 object-fit: cover;
}
.col-md-2{
  margin: 3px 5px;
 border-radius: 12px;
 /* border: solid 2px blue; */
 font-family:'Times New Roman', Times, serif;
 color: rgb(14, 12, 12);
 text-align: center;
 background-color: lightgrey;
 
 font-weight: normal;
 
}
.col-md-3{
  margin: 3px 5px;
 border-radius: 12px;
 /* border: solid 2px blue; */
 font-family:'Times New Roman', Times, serif;
 color: rgb(14, 12, 12);
 text-align: center;
 background-color: lightgrey;
 
 font-weight: normal;
 
}
.inner{
  background-repeat: no-repeat;
    background-size: cover;
}
#main{width:400px; height:auto; overflow:hidden;  margin-left:700px; margin-right:auto; 
 margin-top:30px; border:3px solid#0f0b0b ;padding:.4rem; 
  
 }
h2{
  text-align: center;
  color: blue;
}
.registerbtn{
  color: black;
  background-color: blue;
}
.registerbtn:hover{
  background-color: rgb(167, 227, 245);
  transition: 0.5s ease-in;
  color: rgb(76, 30, 241);

}
input[type=password],input[type=text],input[type=email] {
 width: 100%;
 padding: 15px;
 margin: 5px 0 22px 0;
 /* display: inline-block; */
 border:1rem;

 background-color:rgb(122, 207, 247);
}
/* .contact{
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 font-size:1.5rem;
 color: darkolivegreen;
 align-content: center
}*/

#contactform {
 width: 40%;
 margin: 0 auto;
} 
label, input {
 
 display: inline-block;
}


.contact ol { margin:0; padding:0; list-style:none;}
.contact li { margin:0 0 5px 0; padding:10px; background:none;}

.contact label { margin:0; width:150px; display:block; float:left; padding:0 0 2px 0; font:normal 14px Arial, Helvetica, sans-serif; color:#666666;} 
/* .contact label{float:left}
.contact text{float:right} */
.contact input.text { width:280px; border:1px solid #d6d6d6; padding:2px; background:#fff;margin:2rem,0,2rem,0}
.contact textarea { width:280px; border:1px solid #d6d6d6; padding:2px; background:#fff;}
.contact li.buttons input { padding:3px 10px; margin:0 0 0 150px; background:#1f93ca; border:1px solid #dbdbdb; color:#FFF; float:left;} 